@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Redressed&display=swap");

* {
  font-size: 106%;
  font-weight: 500;
  margin: 0;
  padding: 0;
  /* font-family: "El Messiri", sans-serif; */
  font-family: "Cormorant Garamond", serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(48, 47, 47),
    rgb(0, 92, 92),
    rgb(48, 47, 47)
  );
  background-repeat: repeat-y;

  color: white;
}

/* Nav Bar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    50deg,
    rgb(48, 47, 47),
    rgb(0, 92, 92),
    rgb(48, 47, 47)
  );
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.445);
  height: fit-content;
}

/* container */
.con {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

a {
  text-decoration: none;
}

#menu {
  display: none;
}

#menuc {
  text-align: center;
  padding: 5px;
}

#menuc a {
  font-weight: 400;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0 .7vw;
  padding: 5px;
  font-size: 2vw+5px;
}

#menuc a:hover {
  color: aqua;
}

h3 {
  font-size: 50px;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}

hr {
  min-width: 90px;
  max-width: 300px;
}

h4 {
  text-align: center;
  font-size: 4vw;
  font-weight: bolder;
  color: rgb(1, 192, 192);
  border-color: teal;
  width: 50vw;
  border-bottom: 3px solid teal;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

mark {
  background-color: white;
  margin: 2px;
  padding: 2px;
  border-radius: 8px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#homes,
#skillss,
#projs,
#contacts,
#abouts {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: transparent;
  box-shadow: -3px -1px 8px 0 rgba(0, 0, 0, 0.396),
    3px 1px 8px 0 rgba(0, 0, 0, 0.396);
  padding: 1.5rem;
  width: 65%;
  border-radius: 15px;
}

#about p {
  padding: 40px;
  text-align: center;
  color: #ffffffc0;
}

#contacts {
  margin-bottom: 15px;
}
#contact a {
  color: white;
}

img {
  width: 30%;
  height: auto;
  border: 5px solid teal;
  border-radius: 50% 50% 10% 10%;
  margin-top: 40px;
}

#myNam {
  font-family: "Redressed", cursive;
}

#homes p {
  color: #ffffffc0;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.skills .fab {
  border: none;
  padding: 5px;
  margin: 5px;
  color: white;
}

input,
textarea {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 9px;
  width: 50vw;
  color: #ffffffc0;
}

textarea {
  border: 1px solid white;
  outline: none;
  height: 150px;
}

#contact button {
  border: none;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: -1px -1px 5px 0 rgba(255, 255, 255, 0.485),
    inset 2px -3px 5px 0 rgba(0, 0, 0, 0.363),
    1px 1px 5px 0 rgba(0, 0, 0, 0.719);
  padding: 10px;
  margin: 10px;
  background-color: white;
  color: teal;
}

.foot {
  background-color: rgb(48, 47, 47);
  color: rgba(255, 255, 255, 0.966);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 3px;
}

.foota{
  padding: 1em;
}

.foot a {
  color: white;
  text-decoration: none;
  /* font-size: 25px; */
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
}

@media (max-width: 452px) {
  nav {
    position: fixed;
    font-weight: bold;
  }

  #menu {
    display: block;
    color: white;
    font-size: 25px;
  }

  #menuc {
    display: none;
    position: absolute;
    background-color: transparent;
    text-align: center;
    top: 65px;
  }

  #menuc a {
    display: block;
    background-color: teal;
    color: white;
    border-radius: 8px;
    text-shadow: none;
  }
  #menuc a:hover {
    background-color: white;
    color: rgb(2, 87, 87);
    border: none;
  }

  nav:hover #menuc {
    display: inline-block;
  }

  #about p {
    padding: 15px;
  }

  h4 {
    margin: 40px;
  }
  img {
    width: 150px;
    height: 150px;
  }
  input,
  textarea {
    padding: 5px;
    margin: 3px;
  }
}

@media (min-width: 400px) {
  h4 {
    margin: 80px;
  }
}
@media (max-width: 320px) {
  h4 {
    padding: 10px;
    width: fit-content;
  }
}

@media (max-width: 720px) {
  .skills {
    display: flex;
    flex-direction: column;
  }
}
